<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/style.css" rel="stylesheet">
<title>{% if page.title%}{{ page.title }} - {% endif %}GitHub-profile</title>
  </head>
  <body>
  {{ content }}
  <script>
  var nodes = document.all;
  for(var i=0;i<nodes.length;i++){
  if(nodes[i].tagName!="HTML"&&nodes[i].tagName!="HEAD"&&nodes[i].tagName!="LINK"&&nodes[i].tagName!="META"&&nodes[i].tagName!="TITLE"&&nodes[i].tagName!="BODY"&&nodes[i].tagName!="IFRAME"&&nodes[i].tagName!="HR"&&nodes[i].tagName!="SPAN"){
   if(nodes[i].className&&nodes[i].tagName!="UL"&&nodes[i].tagName!="LI"){
  	 nodes[i].className+="markdown-body";
  	}else{
  	 nodes[i].setAttribute("class","markdown-body");
  	}
 }
}
  </script>
  </body>
  </html>